@model IEnumerable<MyApp.Models.UOM>

@{
    ViewData["Title"] = "ListUom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/>
<p>
    <a class="btn btn-primary" asp-action="AddUom">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
    
        </tr>
}
    </tbody>
</table>
